/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.login-form{
  text-align: center;
  max-width: 30%;
  padding: 5px;
}

.navbar-expand {
  flex-flow: wrap !important;
}

.contact-tile{
  border: 1px solid rgb(204, 204, 204);
  box-shadow: 1px 1px 1px 1px #ccc;
  margin-bottom: 2px;
  color: #007bff;
  width: 50%;
  text-align: center;
}

.spinner{
  position: fixed; 
  top: 50%; 
  left: 50%;
}

.list-group-item{
  cursor: pointer;
  border-radius: 0.25rem;
}

.list-group-item:active {
  transform: scale(0.995);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.logout-btn{
  position: absolute;
  right: 0;
  top: 10px;
}

.home-page{
  max-width: 80%;
  padding: 5px;
}

.login-fields{
  width: 100%;
  text-align: left;
  font-weight: bold;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
